@import '../../index.scss';
.totals {
  width: 100%;

  hr {
    border: none;
    border-top: 2px solid #f8e9dd;
    margin: 0 auto;
    margin-bottom: 32px;
    border-radius: 1px;
    @include mq(768px) {
      margin-bottom: 24px;
    }
  }
  .totals_group {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #92857a;
    @include mq(768px) {
      font-size: 15px;
      line-height: 20px;
    }
  }

  .total {
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
    color: #382314;
    @include mq(768px) {
      font-size: 30px;
      line-height: 39px;
    }
  }

  .month {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #92857a;
    @include mq(768px) {
      font-size: 15px;
      line-height: 20px;
    }
  }

  .percent {
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-align: right;
    color: #382314;
    @include mq(768px) {
      font-size: 15px;
      line-height: 20px;
    }
  }
}
