.bar {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-end;
  .price {
    background: #382314;
    border-radius: 5px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    padding: 8px;
    color: #fffbf6;
    position: absolute;
    left: 50%;
    top: -28px;
    transform: translate(-50%, -50%);
    pointer-events: none;
    opacity: 0;
  }

  .day {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #92857a;
    pointer-events: none;
    position: absolute;
    bottom: -38px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .chart {
    background-color: #ec765d;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    width: 100%;
  }
}

.dayWeek {
  :hover {
    background: #b4e0e5;
    .price {
      opacity: 1;
    }
  }
}
.currentDay {
  :hover {
    background: #ff9b86;
    .price {
      opacity: 1;
    }
  }
}
