@import '../../index.scss';
.expense {
  background: #fffbf6;
  border-radius: 20px;
  max-width: 540px;
  width: 100%;
  padding: 40px;
  padding-top: 32px;
  @include mq(768px) {
    border-radius: 10px;
    padding-inline: 20px;
    padding-block: 24px;
    max-width: 440px;
  }
  h1 {

    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    color: #382314;
    margin-bottom: 66px;
    @include mq(768px) {
      font-size: 24px;
      line-height: 31px;
      margin-bottom: 52px;
    }
  }
  .charts {
    display: flex;
    gap: 18px;
    height: 150px;
    margin-bottom: 62px;
    @include mq(768px) {
      gap: 12px;
      margin-bottom: 54px;
    }
  }
}
